.productCard {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.productImage {
  width: 100% !important;
  height: 250px !important;
  border-radius: 0.5rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.productName {
  width: 100% !important;
  height: 20px !important;
  margin-bottom: 0.5rem;
}

.priceRow,
.ratingRow {
  display: flex;
  gap: 0.5rem;
}

.button {
  width: 100% !important;
  height: 40px !important;
  margin-top: 0.5rem;
}
